<!DOCTYPE HTML>
<!--
	Arcana by HTML5 UP
	html5up.net | 
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>SitoError</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/Tema/assets/css/main.css" />
	</head>
	<body class="is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Logo -->
						<h1><a href="index.html" id="logo">Login che non funziona (è vero)</a></h1>


					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li class="current"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
								<li><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
                                <li><a asp-area="" asp-controller="Account" asp-action="Registra">Registrati</a></li>
								<li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
								
							</ul>
						</nav>

				</div>

                <!-- Banner -->
				<section id="banner">
					<header>
						
					</header>
				</section>

			<!-- Highlights -->
            
				<section class="wrapper style1">
                    <center>
					<div  class="container" >
						<div class="container gtr-200">
							<section class="col-4 col-12-narrower">
								<div class="box highlight" >
									<i class="fas fa-exclamation-triangle" style='font-size:100px;color:red'></i>
									<h3>This is Important</h3>
									<p>Purtroppo a causa di vari problemi il sito non funziona</p>
								</div>
							</section>
						</div>
                        </center>
					</div>
                    
				</section>
            
				<div class="container">
            		<main role="main" class="pb-3">
                		@RenderBody()
            		</main>
        		</div>

				<!-- Icons -->
                    <center>
						<ul class="icons">
							<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
							<li><a href="#" class="icon brands fa-google-plus-g"><span class="label">Google+</span></a></li>
						</ul>
                    </center>

				<!-- Copyright -->
                    <center>
						<div class="copyright">
							<ul class="menu">
								<li>&copy; Sarah Cavalli - 2021</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
                    </center>
				
		</div>

        

		<!-- Scripts -->
			<script src="/Tema/assets/js/jquery.min.js"></script>
			<script src="/Tema/assets/js/jquery.dropotron.min.js"></script>
			<script src="/Tema/assets/js/browser.min.js"></script>
			<script src="/Tema/assets/js/breakpoints.min.js"></script>
			<script src="/Tema/assets/js/util.js"></script>
			<script src="/Tema/assets/js/main.js"></script>

	</body>
</html>